.MuiModal-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0px;
    padding: 0px;
}

.MuiList-root {
    display: flex;
    flex-direction: column;
}
.MuiSnackbar-root {
    width: 100%;
    justify-content: center;
}

.MuiPaper-root {
    width: 100%;
    justify-content: center;
}